
@{
    ViewBag.Title = "BizeUlasın";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">

                        <h2>Bize Ulaşın</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container m-4">
    <div class="">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Ad Soyad</label>
                <input type="text" name="AdSoyad" class="form-control" required="" placeholder="Lütfen Adınızı Giriniz" />
            </div>

            <div class="form-group">
                <label>Mail Adresi</label>
                <input type="email" name="Email" class="form-control" required="" placeholder="Lütfen Mail Adresi Giriniz" />
            </div>

            <div class="form-group">
                <label>Telefon</label>
                <input type="text" name="Telefon" class="form-control" required="" placeholder="ÖRN: 05360000000"/>
            </div>

            <div class="form-group">
                <label>Konu</label>
                <input type="text" name="Konu" class="form-control" required="" placeholder="Lütfen Konuyu Belirtiniz" />
            </div>

            <div class="form-group">
                <label>Dosya Yükleyiniz</label>
                <input type="file" name="fileBase" class="form-control p-1" placeholder="" />
            </div>

            <div class="form-group">
                <label>Mesajınızı Giriniz</label>
                <textarea rows="4" class="form-control" name="Mesaj" required="" placeholder="Lütfen Mesajınızı Giriniz"></textarea>
            </div>

            <div class="alert-success">@ViewBag.Gonder</div>

            <div class="form-group">
                <button type="submit" class="btn  btn-outline-info "> Gönder </button>
            </div>
        </form>
    </div>
</div>

