@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MyBlogSiteMVC.Models.Görseller>
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">

                        <h2>Galeri</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="galeri">
    <div id="works" class=" clearfix grid ">
        @foreach (var item in Model)
        {
            <figure class="effect-oscar  wowload fadeInUp">
                <img src="@item.Görsel" alt="Görsel Yüklenmedi" />
                <figcaption>
                    <h2>@item.GörselBaslık</h2>
                    <p>

                        <a href="@item.Görsel" data-gallery>İncele</a>
                    </p>
                </figcaption>
            </figure>
        }
    </div>
</div>



<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">

    <div class="slides"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>


</div>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="container">

    <div class="col-md-8">

        <div class="pagedList pagination-lg">

            @Html.PagedListPager(Model, Page => Url.Action("index", new { Page }), PagedListRenderOptions.Classic)

        </div>

    </div>

</div>

<script src="~/Content/thebootstrapthemes-personal/assets/jquery.js"></script>



<!-- wow script -->
<script src="~/Content/thebootstrapthemes-personal/assets/wow/wow.min.js"></script>


<!-- boostrap -->
<script src="~/Content/thebootstrapthemes-personal/assets/bootstrap/js/bootstrap.js" type="text/javascript"></script>

<!-- jquery mobile -->
<script src="~/Content/thebootstrapthemes-personal/assets/mobile/touchSwipe.min.js"></script>
<script src="~/Content/thebootstrapthemes-personal/assets/respond/respond.js"></script>

<!-- gallery -->
<script src="~/Content/thebootstrapthemes-personal/assets/gallery/jquery.blueimp-gallery.min.js"></script>




<!-- custom script -->
<script src="~/Content/thebootstrapthemes-personal/assets/script.js"></script>